.Home__root {
  width: 100%;
}
.Home__cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 1rem;
}

.SkeletonContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
  margin: 4.5rem 0;
}

.SkeletonCard {
  height: 16rem;
  display: block;
  border-radius: 12px;
}

@media screen and (max-width: 600px) {
  .Home__cardContainer {
    display: block;
  }
  .Home__root {
    margin: 0;
  }
}
