.Home__root {
  width: 100%;
}
.Home__cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 1rem;
}

@media screen and (max-width: 600px) {
  .Home__cardContainer {
    display: block;
  }
  .Home__root {
    margin: 0;
  }
}
