.Card__root {
  background-color: var(--color-dark-secondary);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.Card__content {
  max-width: 90%;
  margin: 0.5rem auto;
  font-family: inherit;
}
.Card__content > p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.Card_icon {
  margin-right: 4px;
  font-size: 1.4rem;
}

.Card_icon-delete {
  font-size: 1.5rem;
  color: var(--color-text-primary);
}

@media screen and (max-width: 600px) {
  .Card__root {
    margin-bottom: 1rem;
  }
}
