.Modal__form {
  background-color: var(--color-dark);
  max-width: 26rem;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 1rem;
  border-radius: 4px;
}

.Modal__form > input {
  padding: 10px 12px;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 4px;
  font-size: 1rem;
  outline: none;
  border: none;
  background-color: var(--color-dark-secondary);
  color: var(--color-white);
}

.Modal__playlistname {
  padding: 0 12px;
  background-color: var(--color-modal-form);
  border-radius: 4px;
  margin-top: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
}

@media screen and (max-width: 600px) {
  .Modal__form {
    background-color: var(--color-dark);
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 2rem 1rem;
    border-radius: 4px;
    width: 100%;
  }
}
