.Playlist__root {
  width: 100%;
}

.Playlist__wrapper {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}

.Playlist__cardContainer {
  display: flex;
  max-width: 100%;
  overflow: auto hidden;
  background-color: var(--color-dark-secondary);
  padding: 1rem 0 1rem 1rem;
  min-height: 20rem;
}

.Playlist__card {
  width: 26rem;
  margin-right: 1rem;
  height: 26rem;
  background-color: var(--color-dark);
}

.Playlist__player {
  height: 18rem;
}
@media screen and (max-width: 600px) {
  .Playlist__card {
    width: 100%;
  }
  .Playlist__cardContainer {
    display: block;
    padding: 0;
  }
  .Playlist__root {
    margin: 0;
  }
}

.Playlist__cardContainer::-webkit-scrollbar {
  border-radius: 1rem;
  background-color: var(--color-modal-form);
}

.Playlist__cardContainer::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar);
  width: 2rem;
  border-radius: 1rem;
  cursor: pointer;
}
