.Navbar__root {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: var(--color-dark);
}
.Navbar__root > nav {
  width: 90%;
  margin: 1rem auto;
}
.Navbar__root a {
  padding: 0.4rem 1rem;
  min-width: 4rem;
}
.Navbar__root a:hover {
  color: var(--color-red);
}
.ham--icon {
  font-size: 1.5rem;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .Navbar__root {
    width: 100%;
    padding: 0.1rem;
    background-color: var(--color-red);
  }
  .Navbar--main {
    display: none;
  }
  .Navbar__root a {
    padding: 0.4rem 0.5rem;
    min-width: 4rem;
  }
  .Navbar__root a:hover {
    color: var(--color-white);
  }
}
