.Navbar__root {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: rgb(34, 33, 33);
}
.Navbar__root > nav {
  width: 90%;
  margin: 0 auto;
  padding: 1rem 0;
}

.Navbar__navlink-main {
  color: var(--color-red);
  font-size: 1.35rem;
  font-weight: bold;
}
.ham--icon {
  font-size: 1.4rem;
  cursor: pointer;
  margin-right: 8px;
  display: flex;
}

@media screen and (max-width: 600px) {
  .Navbar__root {
    width: 100%;
  }
  .Navbar__root > nav {
    width: 90%;
    margin: 0 auto;
    padding: 8px 0;
  }
  .Navbar__navlink-main {
    font-size: 1.2rem;
    padding: 0;
  }
}
