.Signup__formContainer {
  max-width: 28rem;
  margin: 0 auto;
  padding: 2rem;
  position: relative;
  transform: translate(0, 12%);
  border-radius: 4px;
  background-color: var(--color-dark-secondary);
  width: 100%;
  padding: 1rem 2rem;
}

@media screen and (max-width: 600px) {
  .Signup__formContainer {
    box-shadow: none;
    padding: 2rem 0.5rem;
    background-color: transparent;
  }
}
