:root {
  --color-red: #9b1707;
  --color-dark: #020403;
  --color-dark-secondary: #050606;
  --color-text-primary: #f5f5f5;

  --color-red-hover: #9b1607c2;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: var(--color-text-primary);
  background-color: var(--color-dark);
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.radius-inherit {
  border-radius: inherit;
}

.link-active {
  background-color: var(--color-red-hover);
}
.h-80 {
  height: 80vh;
}
