.Video__root {
  max-width: 90%;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
}

.Video__container {
  flex: 1;
  margin-right: 1.5rem;
}
.Video__watchContainer {
  width: 24rem;
}

.Video__playerContainer {
  height: 60vh;
}
@media screen and (max-width: 984px) {
  .Video__root {
    display: block;
    margin: 0;
    max-width: 100%;
    padding: 1rem;
  }
  .Video__container {
    margin: 0;
  }
  .Video__watchContainer {
    width: 100%;
  }
  .Video__watchContainer > p {
    margin-top: 1.5rem;
  }
}
